@use '../../lib/service.scss' as s;

.form {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  gap: s.space(8);

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: s.color('primary');
    padding-bottom: s.space(1);
  }

  &__card {
    border: 1px solid s.color('light');
    box-shadow: 4px 4px 4px 0px s.color('light');
    padding: s.space(5);
    border-radius: 20px;
    width: 800px;
  }

  &__info {
    padding-bottom: s.space(5);
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: s.space(6);
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: s.space(3);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2);
  }

  &__label {
    font-size: 14px;
  }

  &__input {
    border: 1px solid s.color('light');
    padding: s.space(2);
    border-radius: 10px;
  }

  &__span {
    font-size: 14px;
    color: s.color('light');
  }

  &__button {
    padding: s.space(2);
    border-radius: 10px;
    color: s.color('txt-white');
    background-color: s.color('primary');

    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: s.space(3);
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: s.color('btn-red');
      text-decoration: none;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}