@use "../../lib/service.scss" as s;

@use "../../component/heading/style.scss" as heading;
@use "../../component/purchase-product/style.scss" as purchaseProduct;
@use "../../component/divider/style.scss" as divider;
@use "../../component/field/style.scss" as field;
@use "../../component/button/style.scss" as button;

main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10) s.space(10);
}


.form-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: s.space(5);
	padding: s.space(5);
	border: 1px solid #ddd;
	border-radius: 10px;
}

.form-card__data {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: s.space(5);
}
 
.form-card__id {
	display: flex;
	flex-direction: column;
	gap: s.space(2);
}
