<div class='container'>
  <div>
    <h1 class='title'>Результат виконання операції</h1>
    <p>{{info}}</p>
  </div>
  <a href='/product-list' class='link'>Повернутись назад</a>
  <a href='/product-create' class='link_main'>Створити товар</a>
</div>