<main>
  <section>
    <div class='form'>
      <h1 class='form__title'>Створення товару</h1>

      <div class='form__card'>
        <p class='form__info'>Інформація про товар</p>

        <form method='POST' action='/product-create'>
          <div class='form__content'>
            <div class='form__item'>
              <div class='form__field'>
                <label for='name' class='form__label'>Назва
                  товару
                </label>
                <input
                  type='text'
                  name='name'
                  class='form__input'
                />
              </div>

              <div class='form__field'>
                <label for='price' class='form__label'>Ціна
                </label>
                <input
                  type='number'
                  name='price'
                  class='form__input'
                />
              </div>
            </div>

            <div class='form__field'>
              <label
                for='description'
                class='form__label'
              >Короткий опис товару
              </label>
              <input
                type='text'
                name='description'
                class='form__input'
              />
              <span class='form__span'>Відображається у
                картці товару</span>
            </div>

            <button class='form__button'>Створити товар</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>