@use '../../lib/service.scss' as s;

.purchase-card {                                                             
  display: grid;                                                     
  grid-template-columns: 1fr 5fr 2fr 2fr;
	align-items: center;                            
  gap: s.space(5);                                                   
  padding: s.space(5);                                               
  border: 1px solid s.color(border);                                 
  border-radius: 10px;
	margin-bottom: s.space(2);
	text-decoration: none;                                               
} 
